PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/planora?retryWrites=true&w=majority
JWT_SECRET=supersecretkeyreplaceinproduction
NODE_ENV=production

# SMTP Mail Server Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_EMAIL=Planora <your_email@gmail.com>
